body{
    background-color: #C2C2C2;
    color: #333333;
}

nav{
    background-color: #333333 !important;
    color: #C2C2C2 !important;
    border-radius: 0px !important;
    border: none !important;
}

.well{
    background-color: #333333;
    color: #C2C2C2;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #333333 !important;
    color: #C2C2C2 !important;
}

.nav > li > a:hover{
    background-color: tomato !important;
    color: #333333 !important;
}

.nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav > li.dropdown.open > a,
.nav > li.dropdown.open > ul.dropdown-menu a:hover
{
    background-color: tomato !important;
    color: #333333 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: tomato !important;
    color: #333333 !important;
    background-image:none !important;
}

.dropdown-menu > li > a{
    color: #C2C2C2 !important;
}